.homeheader{
  background-color: #ddffe0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #00bff4;
  gap: 10px;
}

.btngroup{
  display: flex;
  justify-items: center;
  gap: 10px;
}

.changebtn{
  background-color: #ddffe0;
  border-bottom-left-radius: 10%;
  border-top: 0px;
  border-right: 0px;
}