.en_block{
    Height: 5%;
    margin: 5px 1px;
}
.log-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2d7b4c3;
    padding: 1.5rem;
    box-sizing: border-box;
}
.title_font{
    color: #fdaf07be;
    font-weight: 1200; 
    letter-spacing: 0.5rem; 
}
.context_font{
    font-weight: 400; 
    line-height: 1.7;
}

.card{
    max-width: 450px;
    width: 100%;
    text-align:center;
    background-color: #f2faf8;
    border-radius: 16px;
    box-shadow: 5px 10px 30px rgba(119, 80, 80, 0.08);
    padding: 1.5rem;
    box-sizing :border-box;
}

.card_inner{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: #FAF7F2;
    padding: 10px;
    border-radius: 8px;
    margin: 1rem;
}

.left_Card{
    flex: 1;
    letter-spacing: 10px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #D8C3A5;
    padding-right: 0.5rem;
    font-family: "Chiron GoRound TC", sans-serif;
    line-height: 1.7;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: #FAF7F2;
    font-style:normal;
}
.right_Card{
    flex: 2.5;
    display: flex;
    font-weight: 400; 
    line-height: 1.7;
}
.right_Card input{
    flex: 1;
    background-color: #FAF7F2;
    padding:0%;
    border: 2px dashed;
    border-width:0 0 2 0;
    border-color: #D8C3A5;
}
.right_Card input:focus{
    outline:none;
}


.btn_inner{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: #FAF7F2;
    padding: 10px;
    border-radius: 8px;
    margin: 1rem;
    gap: 1.5rem;
}

.r_btn,.l_btn{
    display: flex;
    background-color: #D8C3A5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1;
}